<!-- Inicial -->
<div class="header-container">
  <input class="name-input" type="text" placeholder="Escribí tu nombre" [(ngModel)]="playerName" [disabled]="joined">
  <button class="start-button" (click)="startNewSPGame()" [disabled]="!isNameValid()">Vs CPU</button>
  <button class="start-button" (click)="joinRoom()" [disabled]="!isNameValid()">Unirse</button>
  <div *ngIf="(status$ | async) === 'waiting'"> Esperando rival...</div>
  <div *ngIf="(status$ | async) === 'ready'">
    <h2 *ngIf="(currentPlayerId$ | async) === socketService.socketId" class="pill pill-green">
      {{ (currentStep$ | async) }}: {{ playerName }}
    </h2>
    <h2 *ngIf="(currentPlayerId$ | async) !== socketService.socketId" class="pill pill-red">
      Turno de {{opponentName$ | async}}
    </h2>
  </div>
</div>
<!-- Tablero Principal -->
<div class="game-screen">
  <div class="board">  
      <!-- Aquí mostrarás las 5 cartas del rival -->
    <div class="opponent-cards">
       <app-card *ngFor="let card of game.opponentHand" [card]="card" [faceDown]="true"></app-card>
        <div class="opponent-deck">
          <div *ngFor="let card of game.opponentDeck; let isLast = last">
            <app-card [card]="card" [faceDown]="!isLast"></app-card>
          </div>
        </div>
    </div>   
    <!-- Montones descartes rival -->
    <div class="opponent-piles">
      <div class="pile-slot" *ngFor="let pile of game.opponentPiles; let i = index">
        <div *ngFor="let card of pile; let j = index" style="position: absolute" [ngStyle]="{'top.px': (j * -14) + 15}">
          <app-card [card]="card"></app-card>
        </div>
      </div>
    </div>
    <!-- Área central con escaleras y mazo -->
    <div class="center-area">
      <div class="deck-area" #deckRef>
        <app-deck></app-deck>
      </div>
      <!-- Área escaleras-->
      <div class="stairs">
        <div *ngFor="let stair of (stairs$ | async); let i = index" 
          cdkDropList class="stair-slot" [id]="'stair' + (i + 1)" 
          [cdkDropListData]="stair" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let card of stair" style="position: absolute">
              <app-card [card]="card"></app-card>
            </div>
        </div>
      </div>
      <div class="empty-area"></div>
    </div>
    <!-- Montones descartes jugador -->
    <div class="player-piles">
      <div class="pile-slot" cdkDropList [id]="'pile' + i" *ngFor="let pile of game.playerPiles; let i = index" [cdkDropListData]="game.playerPiles[i]" (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['stair1','stair2','stair3','stair4','stair5','stair6','stair7','stair8']" (cdkDragEnded)="onDragEnd()">
        <div class="card-in-piles" *ngFor="let card of pile; let j = index"  style="position: absolute" [ngStyle]="{'transform': 'translateY(' + (j * 14) + 'px)','z-index': j}"[cdkDragFreeDragPosition]="{x: 0, y: j * 14}" cdkDrag>
          <app-card [card]="card"></app-card>
        </div>
      </div>
    </div>
    <!-- Cartas del jugador abajo -->
    <div cdkDropList [cdkDropListConnectedTo]="['pile0','pile1','pile2','stair1','stair2','stair3','stair4','stair5','stair6','stair7','stair8']" [cdkDropListData]="game.playerHand" class="player-cards">
      <div *ngFor="let card of game.playerHand" cdkDrag [cdkDragData]="card">
        <app-card [card]="card"></app-card>
      </div>
      <div class="player-deck" cdkDropList [cdkDropListConnectedTo]="['stair1','stair2','stair3','stair4','stair5','stair6','stair7','stair8']" [cdkDropListData]="game.playerDeck">
        <div *ngFor="let card of game.playerDeck; let isLast = last" cdkDrag>
            <app-card [card]="card" [faceDown]="!isLast"></app-card>
            <ng-template cdkDragPlaceholder>
              <div class="empty-slot"></div>
            </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
