/* You can add global styles to this file, and also import other style files */
/* Global Style Start */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
:root {
  /* Font */
  --primary_font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --secondary_font: Arial, Helvetica, sans-serif;
  /* Color */
  --primary_color: #3F3F3F;
  --secondary_color: #8ca49a;
  --secondary_color_rga: rgba(140, 164, 154, 0.98);
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(2, 17, 31);
}
body, input, button, textarea, select {
  font-family: 'Poppins', sans-serif;
}
html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
app-root, app-board, .game-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Global Style End */